#navhome{
    color:#ff4d30;
}
.nav-link{
    font-weight: bold;
    font-size: large;
    position: relative;
}
.nav-link:hover{
    color: #ff4d30;
    font-family:sans-serif;
}
.btn2 {
    background-color: #ff4d30;
    border:none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    color: white;
}